<div class="container-md bg-light rounded my-4 shadow-sm">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="display-4 mb-4">Users List</div>
      <a routerLink="/users/new" class="btn btn-primary">+ New</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead class="">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">User Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <a
                routerLink="/users/{{ user.id }}/update"
                type="button"
                class="btn btn-primary mr-2"
                >Update</a
              >
              <button
                type="button"
                class="btn btn-danger"
                (click)="user.id ? deleteUser(user.id) : null"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" *ngIf="page !== 1">
            <a class="page-link" (click)="goOtherPage(1)" routerLink="/users/"
              >First</a
            >
          </li>
          <li class="page-item" *ngIf="prevPage">
            <a
              class="page-link"
              routerLink="/users/{{ prevPage }}/pages"
              (click)="goOtherPage(prevPage)"
              >{{ prevPage }}</a
            >
          </li>
          <li class="page-item active">
            <a class="page-link">{{ page }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage">
            <a
              class="page-link"
              routerLink="/users/{{ nextPage }}/pages"
              (click)="goOtherPage(nextPage)"
              >{{ nextPage }}</a
            >
          </li>
          <li class="page-item" *ngIf="page !== lastPage">
            <a
              class="page-link"
              (click)="goOtherPage(lastPage)"
              routerLink="/users/{{ lastPage }}/pages"
              >Last</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
