<div class="container-md my-4 rounded shadow-sm">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center px-4">
      <div class="display-4">Comment</div>
      <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        + New
      </button>
    </div>
    <div class="col-12 px-4">
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-row align-items-center">
              <div class="col-3 my-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Choose user</div>
                  </div>
                  <select
                    class="custom-select mr-sm-2"
                    id="inlineFormCustomSelectUser"
                    name="userId"
                    [formControl]="userId"
                    required
                  >
                    <option *ngFor="let user of users" value="{{ user.id }}">
                      {{ user.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-3 my-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Choose post</div>
                  </div>
                  <select
                    class="custom-select mr-sm-2"
                    id="inlineFormCustomSelectPost"
                    name="userId"
                    [formControl]="postId"
                    required
                  >
                    <option *ngFor="let post of posts" value="{{ post.id }}">
                      {{ post.id }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-5 my-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Message</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="inlineFormInput"
                    placeholder="Content of Post"
                    name="content"
                    [formControl]="message"
                    required
                  />
                </div>
              </div>
              <div class="col-1 my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-4" *ngFor="let comment of comments">
      <div class="media rounded border p-3">
        <img src="../../assets/images/user.svg" class="mr-3" width="64" />
        <div class="media-body">
          <h5 class="mt-0">{{ getName(comment.userId) }}</h5>
          <p *ngIf="!updateState || idCommentBeUpdated !== comment.id">
            {{ comment.message }}
          </p>
          <input
            type="text"
            *ngIf="updateState && idCommentBeUpdated === comment.id"
            class="form-control"
            [formControl]="newMessage"
            required
          />
        </div>
        <div class="d-flex flex-column ml-3">
          <button
            class="btn btn-success mb-1"
            *ngIf="!updateState || idCommentBeUpdated !== comment.id"
            (click)="onUpdateState(comment)"
          >
            Edit
          </button>
          <button
            class="btn btn-success mb-1"
            *ngIf="updateState && idCommentBeUpdated === comment.id"
            (click)="updateComment(comment)"
          >
            Update
          </button>
          <button
            class="btn btn-danger"
            *ngIf="!updateState || idCommentBeUpdated !== comment.id"
            (click)="comment.id ? deleteComment(comment.id) : null"
          >
            Delete
          </button>
          <button
            class="btn btn-secondary mb-1"
            *ngIf="updateState && idCommentBeUpdated === comment.id"
            (click)="cancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
